<div *ngIf="selectedGame">

  <div class="row justify-content-center">

    <carousel>
      <div *ngFor="let shot of selectedGame.screenshots">
        <slide>
          <img src="{{shot.src}}" alt="{{shot.alt}}" style="display: block; width: 100%;">
        </slide>
      </div>
    </carousel>

  </div>

  <hr />

  <div class="row">

    <div *ngFor="let section of selectedGame.sections" class="section">
      <h3>{{section.heading}}</h3>
      <p *ngFor="let s of section.subsections">
          <img *ngIf="s.image" class="cardimgfix img-fluid" [src]="s.image.src" [alt]="s.image.alt" />
          <a *ngIf="s.lonk" target="_blank" [href]="s.lonk.href">{{s.lonk.text}}</a> <!--object prototypes have a link() function so...-->
          <span *ngIf="!s.image && !s.lonk">{{s}}</span>
      </p>
    </div>

  </div>

</div>