<div class="row" *ngIf="games">

<div *ngFor="let g of games" class="col-xl-3 col-lg-4 col-md-6 guttercard">
  <a routerLink="{{g.id}}">
    <div class="card bg-dark text-light">
      <img *ngIf="g.screenshots" class="card-img" [src]="g.screenshots[0].src" [alt]="g.screenshots[0].alt">
      <div class="card-img-overlay">
        <h5 class="card-title text-light">
          {{g.title}}
          <span class="badge badge-primary float-right">{{g.status}}</span>
        </h5>
      </div>
    </div>
  </a>
</div>

</div>