<form> <!-- Place in a form to disable backspace navigation when focused. -->
<div *ngFor="let section of current" class="card bg-dark text-light">
  <p>
    H:<input [(ngModel)]="section.heading" [ngModelOptions]="{standalone:true}" />
  </p>
  <p *ngFor="let s of section.subsections; let i = index">
    <span *ngIf="s.image"> 
      SRC:<input [(ngModel)]="section.subsections[i].image.src" [ngModelOptions]="{standalone:true}" /> 
      ALT:<input [(ngModel)]="section.subsections[i].image.alt" [ngModelOptions]="{standalone:true}" /> 
    </span>
    <span *ngIf="s.lonk"> 
        HREF:<input [(ngModel)]="section.subsections[i].lonk.href" [ngModelOptions]="{standalone:true}" /> 
        TEXT:<input [(ngModel)]="section.subsections[i].lonk.text" [ngModelOptions]="{standalone:true}" /> 
      </span>
    <span *ngIf="!s.image && !s.lonk">
      P:<textarea [(ngModel)]="section.subsections[i]" [ngModelOptions]="{standalone:true,updateOn:'blur'}" ></textarea> 
    </span>
  </p>
  <p>
    <button class="btn btn-lg" (click)="section.subsections.push('')">New Paragraph</button>
    <button class="btn btn-lg" (click)="section.subsections.push({image:{src:'',alt:''}})">New Image</button>
    <button class="btn btn-lg" (click)="section.subsections.push({lonk:{href:'',text:''}})">New Image</button>
  </p>
</div>
<button class="btn btn-lg" (click)="current.push({heading:'',subsections:[]})">New Section</button>
<button class="btn btn-lg" (click)="printStuff()">Log Sections</button>
</form>

<div class="card bg-dark text-light">
  <div class="card-body">
    <h3>Output:</h3>
    <p>{{text}}</p>
  </div>
</div>